/* All Charts */
.containerCharts {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  /* border: 1px solid black; */
}

/* Activity */
.customTooltip {
  background-color: #ff0000;
}

/* hide outline on tooltip */
[role="dialog"] {
  outline: none;
  height: 100% !important;
}

.tooltipLine {
  padding: 0.75rem;
  margin: 0;
  color: white;
  font-size: 0.7rem;
  font-weight: 500;
}

/* Activity Top Legend */
.infoTextContainer {
  position: relative;
  background: #fbfbfb;
}

.infoTextTitle {
  position: absolute;
  top: 1.5rem;
  left: 2rem;
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
}

.infoTextLegend {
  display: flex;
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  color: #74798c;
}

.infoTextLegendDetail {
  margin: 0 0 0 2rem;
}

.ColorCircle1 {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  margin: 0 0.5rem 0 0;
  border-radius: 50%;
  background: #2b2d30;
}

.ColorCircle2 {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  margin: 0 0.5rem 0 0;
  border-radius: 50%;
  background: #ff0101;
}

/* Average */
.averageContainer {
  background-color: #ff0000;
  border-radius: 5px;
  /* background: linear-gradient(
    to right,
    #ff0000 0%,
    #ff0000 73%,
    #e60001 73%,
    #e60001 100%
  ); */
}

/* Average Text */
.averageLabelContainer {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.averageLabelText {
  user-select: none;
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 4px;
  position: absolute;
  top: 1.5rem;
  left: 2rem;
  margin: 0;
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.95rem;
  font-weight: 500;
  flex-wrap: nowrap;
  z-index: 1;
}

/* Average Tooltip */
.averageTooltip {
  padding: 0.5rem;
  font-size: 0.7rem;
  font-weight: 500;
  background: white;
  color: black;
  border-radius: 2px;
  margin: auto;
}

/* Radar */
.radarContainer {
  background-color: #2b2d30;
  border-radius: 5px;
}

/* Score */
.scoreContainer {
  background-color: #fbfbfb;
  border-radius: 5px;
  position: relative;
}

.scoreText {
  position: relative;
  text-align: center;
  font-size: 1rem;
  bottom: 67%;
  font-weight: 500;
  color: #74798c;
  top: 33%;
}

.scoreValue {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: #282d30;
  margin-bottom: 7px;
}

.scoreTitle {
  position: absolute;
  top: 1.5rem;
  left: 2rem;
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  z-index: 1;
}
